@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-mono text-xs tracking-wide lg:text-sm;
}

@font-face {
  src: url(/Buckin-Rg.otf);
  font-weight: 400;
  font-family: "buckin";
}

@font-face {
  src: url(/Buckin-Bd.otf);
  font-weight: 700;
  font-family: "buckin";
}
