@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-wagmi text-xs tracking-wide lg:text-sm;
}

@font-face {
  src: url(/Gilroy-Thin.ttf);
  font-weight: 100;
  font-family: "Gilroy";
}

@font-face {
  src: url(/Gilroy-Regular.ttf);
  font-weight: 400;
  font-family: "Gilroy";
}

@font-face {
  src: url(/Gilroy-Medium.ttf);
  font-weight: 500;
  font-family: "Gilroy";
}

@font-face {
  src: url(/Gilroy-Bold.ttf);
  font-weight: 700;
  font-family: "Gilroy";
}
